# Prerequisites
*.d
.vs/*
chat-qt-.1fe7d8a2/*
x64/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.vs

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
